.container {
  margin: 50px 0;
}

.card {
  width: 340px;
  margin: 0 12px !important;
}

.confirmed {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

@media (max-width: 991px) {
  .card {
    margin-bottom: 12px !important;
  }
}
